* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
}

*:focus {
  outline: none;
}

input, select {
  color: #0068a1;
  border-radius: 2px;
  border-style: none;
  max-width: 250px;
}

a {
  text-decoration: none;
  height: 100%;
}

label {
  color: white;
}

.section {
  height: 80px;
  vertical-align: middle;
}

.left {
  float: left;
}

.right {
  float: right;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 252px;
  max-height: 50vh;
  overflow: scroll;
  margin: 0px;
  padding: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


/* items inside the dropdown */

.dropdown-content li {
  color: black;
  font-size: 14px;
  padding: 10px 10px;
  display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content li:hover {
  background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

.dontshow {
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.show {
  padding: 10px 10px;
  opacity: 1;
  max-height: 60px;
}

.resetdontshow {
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  -moz-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  -ms-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.resetshow {
  opacity: 1;
}

#calculator_container {
  height: auto;
  min-height: 500px;
  width: 500px;
  background: #0068a1;
  border-radius: 3px;
  border-style: none;
}

#blue {
  background: #0068a1;
  padding: 20px 20px 0 20px ;
}

#green {
  background: #a1dc51;
  padding: 40px 20px 20px 20px ;
}

#title {
  font-weight: 700;
  font-size: 30px;
  color: white;
  text-align: center;
}

#initial_input {
  width: 300px;
}

#substitute_input {
  width: 300px;
}

#output_div {
  background-color: white;
  overflow: hidden;
  border-radius: 3px;
}

#output {
  color: #0068a1;
}

#weight {
  color: #f58d1e;
}

#reset_button {
  height: 60px;
  width: 200px;
  color: white;
  background-color: #f58d1e;
  border-color: #f58d1e;
  border-style: solid;
  border-radius: 3px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

#reset_button:hover {
  color: #f58d1e;
  background-color: white;
}

#logo_container {
  display: flex;
  align-items: center;
  font-size: 13px;
}

#absolute_coachin_logo {
  height: 60px;
  border-radius: 3px;
  border-style: none;
}
